<!-- File name: services.ejs
Name: Prince Duru
Student Id: 301167756
Date: 10/03/2021
ExpressPortfolio
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Services Header -->
<div class="project-top-text">
  <h1>Services</h1>
</div>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
  </main>


<!-- Services Content -->
<div class="services-section container">

  <div class="services">

      <div class="service">
        <h2>Web Designing</h2>
        <img src="/Assets/images/services/webdesign.png" alt="HTML5">
      </div>

      <div class="service">
        <h2>Web Development</h2>
        <img src="/Assets/images/services/development.png" alt="HTML5">
      </div>

      <div class="service">
        <h2>Mobile Application Development</h2>
        <img src="/Assets/images/services/mobile.png" alt="HTML5">
      </div>

  </div>

  <div class="service-link">
    <a href="/contact">Hire Me</a>
  </div>

</div>

<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>